.App {
  text-align: center;
}

.table-header {
  background-color: gray;
}

.table-header-row {
  height: 45px;
  min-width: 100px;
}

.table-header-row th {
  min-width: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.center {
  text-align: center;
}
